

body{
    background-color: #AAAAAA;
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
/* common-style */
  .uni-button{
    border: none;
    padding: 5px 20px;
    background-color: #E02C6D;
    color: white;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
  }
  .htag-two{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
  }
  .htag-one{
    font-size: 35px;
  }
/* common-style */

.main-content{
    padding-left: 30px;
    padding-right: 30px;
    width: 95%;
    margin: 0 auto;
    background-color: white;
}

/* Section-navbar */
.navbar{
    height: 80px;
    font-display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    float: right;
}

.icon{
    line-height: 45px;
    float: left;
    font-weight: 600;
    font-size: 25px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
nav ul li a:hover{
    color: #E02C6D;
}
#check{
    display: none;
}
#checkbtn{
    display: none;
}


.galary{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
.text-galary{
    float: left;
    width: 50%;
}
.image-galary{
    width: 50%;
    float: right;    
    
}
.image-galary img{
    width: 80%;
}
.htag-one{
    font-size: 35px;
}
/* Logos */
.logos{
    display: flex;
    align-items: center;
    justify-content: center;     
}
.logo{
    margin: 0 15px;
}

/* populer-collection */
.populer-collection{
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 20px;
}
.collection{
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.text-collection p,h3{
    margin-top: 8px;
    margin-bottom: 5px;
}

.image-collection img{
    width: 100%;
    height: 200px;
}

/* media-query of .collection */
@media screen and (min-width:1080px){
   
    .collection{
        padding:15px;
        background-color: antiquewhite;
        border-radius: 10px;
    }    
    
    .image-collection img{
        width: 100%;
        height: 220px;
    }
}
/* media query closed */



.fa-star,.fa-star-half{
    color: gold;
    font-size: 12px;
}
.text-collection p{
    font-size: 14px;
}
/* feature */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.feature-one{
    margin-right: 30px;
}
/* footer */
footer{
    text-align: center;
    height: 100px;
    margin-top: 70px;
    background-color: black;
    padding: 20px;
    color: white;
}


@media only screen and (max-width:876px){
    .icon{
        font-size: 20px;
    }
    .galary{
        margin-top: 50px;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-galary,.image-galary{
        width: 100%;
    }
    .logo img{
        width: 50px;
    }
    .populer-collection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature{
        flex-direction: column;
    }
   
    .htag-one{
        font-size: 25px;
    }
}

@media only screen and (max-width:657px){
    nav ul{
        float: none;
        padding-left: 0px;
        width: 100%;        
    }

    nav ul li{
        display: block;
        text-align: center;
        padding:10px 0px;
        margin: 0px;
        background-color: #1f2a2a;
    }
    
    nav ul li a{
        margin:8px 0px;
        text-align: center;
        color: white;
    }
    #checkbtn{      
        display: block;
        font-size: 20px;
        line-height: 50px;
        margin-left: 90%;
        /* margin-right: 30px; */        
    }
    .text-galary{
        z-index: -100;
    }
}

@media only screen and (max-width:568px){
    nav ul{
        float: none;
        padding-left: 0px;
        width: 100%;        
    }

    nav ul li{
        display: block;
        text-align: center;
        padding:10px 0px;
        margin: 0px;
        background-color: #1f2a2a;
    }
    
    nav ul li a{
        margin:8px 0px;
        text-align: center;
        color: white;
    }
   
    #checkbtn{      
        display: block;
        font-size: 20px;
        line-height: 50px;
        margin-left: 90%;
        /* margin-right: 30px; */        
    }
    .text-galary{
        z-index: -100;
    }

    .logos{
        display: flex;
        flex-direction: column;        
    }
    .logo{
        margin:20px 0px;
    }

    .populer-collection{
        margin: 30px 0 0 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    }
   
    

}